<div class="container">
  <h1>レシピ詳細</h1>

  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>詳細</th>
      </tr>
    </thead>

    <tbody>
      <tr>
      <td><%= @recipe.title %></td>
      <td><%= @recipe.description %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "一覧に戻る", recipes_path({}) %>
</div>
